<section>
  <h3>Create New Post</h3>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
      <div>
        <label id="skates_type">Select the type of skates you used</label>
        <input type="button" value="Figure skates" id="figure" class="my_skates" name="skatesType">
        
        {{!-- <button id="figure" class="skates" onclick="selectedSkates('figure')">Figure Skates</button>
        <button id="hockey" onclick="selectedSkates('hockey')">Hockey Skates</button>
        <button id="racing" onclick="selectedSkates('racing')">Racing Skates</button>
        <button id="touring" onclick="selectedSkates('touring')">Touring Skates</button> --}}
      </div>

    </div>
    <div>
      <label for="post-text">Description</label>
      <textarea type="text" id="post-text" name="post-text"></textarea>
      {{! <input type="text" id="post-text" name="post-text" /> }}
    </div>
    <button id="createPost" type="submit" class="btn">Create</button>
  </form>
</section>

{{#if posts.length}}
  <section>
    <h3>Your Posts</h3>
    <ol>
      {{#each posts as |post|}}
        <li>
          {{!-- {{> post-info post}} --}}
          <article class="post">
            <div class="title">
              <h3>{{title}}</h3>
              <h5>(Posted by
                {{user.username}}
                on
                {{format_date created_at}})</h5>
            </div>
            <div>
              <p>{{post_text}}</p>
            </div>
            <div>
              <p>{{skates_type}}</p>
            </div>
            <div class="meta">
               {{post.vote_count}} {{format_plural "point" post.vote_count}}
              <a href="/post/{{id}}">{{comments.length}}
                {{format_plural "comment" comments.length}}</a>
              <a href="/dashboard/edit/{{post.id}}" class="edit-link"><button
                >Edit</button></a>
            </div>
          </article>
        </li>
      {{/each}}
    </ol>
  </section>
{{/if}}

<script src="/javascript/add-post.js"></script>
{{!-- <script src="/javascript/select-skates.js"></script> --}}