<section>
  <h3>Create New Post</h3>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
      <div>
        <label id="skates_type">Select the type of skates you used</label>
        <input type="button" name="Figure skates" value="Figure skates" class="skates">
        <input type="button" name="Hockey skates" value="Hockey skates" class="skates">
        <input type="button" name="Race skates" value="Race skates" class="skates">
        <input type="button" name="Touring skates" value="Touring skates" class="skates">
      </div>
    </div>
    <div>
      <label for="post-text">Description</label>
      <textarea type="text" id="post-text" name="post-text"></textarea>
    </div>
    <button id="createPost" class="btn">Create</button>
  </form>
</section>

{{#if posts.length}}
  <section>
    <h3>Your Posts</h3>
    <ol>
      {{#each posts as |post|}}
        <li>
          {{!-- {{> post-info post}} --}}
          <article class="post">
            <div class="title">
              <h3>{{title}}</h3>
              <p>{{skates_type}}</p>
              <h5>(Posted by
                {{user.username}}
                on
                {{format_date created_at}})</h5>
            </div>
            <div>
              <p>{{post_text}}</p>
            </div>
            <div class="meta">
               {{post.vote_count}} {{format_plural "point" post.vote_count}}
              <a href="/post/{{id}}">{{comments.length}}
                {{format_plural "comment" comments.length}}</a>
              <a href="/dashboard/edit/{{post.id}}" class="edit-link"><button
                >Edit</button></a>
            </div>
          </article>
        </li>
      {{/each}}
    </ol>
<img src="rideau-canal.jpg" alt="Background" style="background-size:cover;background-attachment:fixed;backgroud-position:80%;z-index:9999;">
  
  </section>
{{/if}}

<script src="/javascript/add-post.js"></script>
{{!-- <script src="/javascript/select-skates.js"></script> --}}